@font-face {
    font-family: gotham-black;
    src: url(./Fonts/Gotham/Gotham-Black.otf);
}

@font-face {
    font-family: gotham-light;
    src: url(./Fonts/Gotham/Gotham-Light.otf);
}

@font-face {
    font-family: gotham-medium;
    src: url(./Fonts/Gotham/Gotham-Medium.otf);
}

@font-face {
    font-family: gotham-bold;
    src: url(./Fonts/Gotham/Gotham-Bold.otf)
}

* {
    font-family: gotham-light, Arial, Helvetica, sans-serif;
    max-width: 100%;
}

nav {
    display: flex;
    align-items: center;
    padding: 16px 18px;
}

.label_burger,
#toggle {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 139px;
}

.logo {
    justify-self: left;
    height: 107px;
    width: 206px;
    padding-right: 68px;
    /* Solution temporaire pour espacer le logo du menu */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

body>header>nav>ul {
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 78px;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    position: relative;
    background-image: url(./assets/SiteDWWM/Images/A2-1920.jpg);
    z-index: 0;
    color: white;
}

main::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to top, #85bd24, transparent 80% 50%, #452d89 50%, transparent 50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: gotham-bold;
    font-weight: bolder;
    font-size: 64px;
    text-align: left;
    max-width: 90vh;
    max-height: 40vh;
    padding: 5vh 0 0 0;
    margin: 5vh;
    color: white;
}

h2 {
    font-size: 40px;
    text-align: left;
    max-width: 90vh;
    max-height: 40vh;
    margin: 5vh;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #86bd24;
    transition: 0.3s;
}

.index_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4vh;
    border-radius: 4vh;
}

.content_formation {
    padding: 10vh;
    max-width: 100vw;
}

.formation_tile {
    font-size: 24px;
    list-style: none;
    max-width: 30vw;
    padding: 10vh;
}

.formation_tile_title {
    max-width: 30vw;
    font-weight: bold;
    font-size: 36px;
    text-align: top left;
}

.formation_list {
    display: flex;
    flex-direction: row;
    color: white;
}

.temoignages_container {
    display: flex;
}

.temoignages_h1 {
    max-width: 80vw;
    padding: 2vh;
    margin: 0 0 0 0;
}

.content_temoignages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 2vh;
    max-width: 80vw;
}

.temoignages_tile {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    list-style: none;
    max-width: 80vw;
    padding: 0;
    gap: 2vh;
}

.temoignages_tile_image {
    height: 90px;
    width: 90px;
}

.temoignages_tile_title {
    font-weight: bold;
    font-size: 36px;
    text-align: top left;
}

.temoignages_list {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
}

.references_h1 {
    max-width: 80vw;
    padding: 0;
}

.references_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.references_images_list {
    display: flex;
    padding: 10px 24px;
    height: 92px;
    width: 80px;
}

form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.radio_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    padding: 0;
    margin: 16px;
    border-style: solid;
    border-radius: 1vh;
    border-color: white;
}

.radio_li {
    list-style: none;
    padding: 8px;
}

.burger_label {
    font-weight: bold;
    font-size: 18px;
    padding: 0 0 0 16px;
}

input {
    padding: 12px 16px;
    margin: 16px 16px;
    border-radius: 8px;
    border: 0px;
}

button {
    font-weight: bold;
    text-align: center;
    width: 20vw;
    height: 4vh;
    border-radius: 2vh;
    border: none;
    background-color: #ee4a7d;
    cursor: pointer;
    margin: 5vh;
    color: white;
}

.form_button {
    align-self: center;
}

.form_selector {
    margin: 16px 24px;
    padding: 5px;
    border: 0px;
    border-radius: 1vh;
    max-width: 20vh;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    height: 99px;
    background-color: #86BD24;
    background-position: center;
}

.logos_footer>li>a>img {
    height: 43.75px;
    width: 37.25px;
    padding: 40px;
}

.logos_footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 8px;
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: #b2d8c6;
    border-radius: 4px;
}

@media screen and (max-width: 330px) {

    .references_list {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    nav ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 990px) {

    main {
        justify-content: flex-start;
        min-height: 75vh;
    }

    .main_pages {
        gap: 2vh;
    }

    header {
        justify-content: space-between;

    }

    nav {
        justify-content: space-between;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
    }

    button {
        width: 40vw;
        height: 5vh;
    }

    body>header>nav>ul {
        height: 60px;
    }

    nav .main_pages {
        display: none;
        flex-direction: column;
    }

    footer img.logo {
        padding: 0;
    }

    footer {
        justify-content: space-around;
    }

    nav ul {
        display: none;
    }

    .label_burger::before {
        content: "☰";
    }

    .label_burger {
        display: flex;
        position: absolute;
        justify-content: space-between;
        top: 5vh;
        right: 5vh;
        cursor: pointer;
        font-size: 30px;
    }

    #toggle:checked~.label_burger::before {
        content: "X";
    }

    #toggle:checked~ul {
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
        z-index: 1;
    }

    #toggle:checked~ul li {
        display: flex;
        justify-content: center;
        width: 20vw;
        background-color: white;
        border-radius: 1vh;
        padding: 10px;
    }

    #toggle:checked~ul li:hover {
        outline: solid #ee4a7d;
    }
}

@media screen and (max-width: 1100px) {
    nav li a {
        font-size: 16px;
    }

    .formation_list {
        flex-direction: column;
        padding: 5px;
        margin: 0;
    }

    .content_formation {
        max-width: 80vw;
        padding: 5px;
        margin: 5vh 0 0 0;
        align-content: space-between;
    }

    .formation_tile {
        border-radius: 1vh;
        max-width: 80vw;
        padding: 0 0 30px 0;
        margin: 1vh;
    }
}

@media screen and (max-width: 1400px) {
    .temoignages_container {
        flex-direction: column;
    }
}